.playlist {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__image {
        &--wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }
    }

    &__item {
        &--wrapper {
            max-width: 300px;
            margin: 0 20px;
        }

        &--title {
            margin: 0;
            padding-bottom: 20px;
        }
    }

}