.track {
    &__wrapper {
        display: flex;
        padding: 10px;
    }

    &__index {
        margin-right: 10px;
        width: 20px;
        text-align: right;
    }

    &__details {
        padding-left: 10px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: column;
    }

    &__name {
        margin: 0;
        font-weight: bold;
    }

    &__artist {
        margin: 0;
        font-size: 0.8rem;
    }
}